.jumbotron{
    font-family: 'Montserrat' sans-serif;
    text-align: center;
    color: white;
    background-image: url('../Images/1.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.Headers{
    font-size: 60px;
}

.SubHeaders{
    font-size: 20px;
}