.jumbotron{
    font-family: 'Montserrat' sans-serif;
    text-align: center;
    color: white;
    background: url('../Images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
}

.Headers{
    font-size: 60px;
}

.SubHeaders{
    font-size: 20px;
}